__pycache__/
.env
.cache*
.vscode

terraform-plan
variables.tf
*.tfstate
*.tfstate.*

.terraform/

crash.log
crash.*.log

*.retry
*.log
.ansible/

.vault_pass
.vault_password

ansible/inventory/hosts.yml
ansible/ansible.cfg
ansible/group_vars/all.yml
